PROJECT_NAME=event-site-backend
DEBUG=true
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
JWT_SECRET_KEY=ultra-secret-neei-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
JWT_EMAIL_VERIFICATION_EXPIRE_MINUTES=30
SMTP_HOST=smtp.your-provider.com
SMTP_PORT=587
SMTP_USER=your-smtp-username
SMTP_PASSWORD=your-smtp-password
EMAIL_SENDER=noreply@your-domain.com
FRONTEND_URL=http://localhost:3000
JWT_ACCESS_TOKEN_LONG_EXPIRE_MINUTES=10080
CORS_ALLOW_ORIGINS=["http://localhost:3000","http://127.0.0.1:3000"]
CORS_ALLOW_CREDENTIALS=1
